Repository Elice-in-Wonderland/pro-pro, pull requests merged in 2022-05, with the labels that each got.

#20 [20220504] Merge요청
  frontend/src/components/MainBanner/MainBanner.js
  frontend/src/components/MainBanner/mainBanner.scss
  frontend/src/components/MainCard/MainCard.js
  frontend/src/components/SearchNoResult/SearchNoResult.js
  frontend/src/components/SearchNoResult/searchNoResult.scss
  frontend/src/components/SkeletonCard/SkeletonCard.js
  frontend/src/components/SkillStacksFilter/SkillStacksFilter.js
  frontend/src/components/SkillStacksFilter/skillStacksFilter.scss
  frontend/src/pages/MainPage/MainPage.js
  frontend/src/pages/MainPage/mainPage.scss
Labels: maintenance, frontend

#21 [20220504] Merge 요청
  frontend/src/components/Bookmark/Bookmark.js
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/Comments/Comment.js
  frontend/src/components/Comments/Comments.js
  frontend/src/components/Comments/comments.scss
  frontend/src/components/CustomComponent.js
  frontend/src/components/EditButtons/EditButtons.js
  frontend/src/components/PostBanner/PostBanner.js
  frontend/src/components/Stacks/Stacks.js
  frontend/src/pages/DetailPage/DetailPage.js
  frontend/src/pages/DetailPage/detailPage.scss
Labels: maintenance, frontend

#23 [20220504] Merge 요청
  frontend/public/index.html
  frontend/src/app.js
  frontend/src/components/LoginModal/LoginModal.js
  frontend/src/components/Logo/Logo.js
  frontend/src/components/Navigation/NavItem.js
  frontend/src/components/Navigation/Navigation.js
  frontend/src/components/Navigation/navigation.scss
  frontend/src/components/Profile/Button.js
  frontend/src/components/Profile/Form.js
  frontend/src/components/Profile/Modal.js
  frontend/src/components/Profile/Selector.js
  frontend/src/components/Profile/Stack.js
  frontend/src/components/Toast/toast.scss
  frontend/src/library/Profile/index.js
  frontend/src/pages/ProfilePage/ProfilePage.js
  frontend/src/pages/ProfilePage/profilePage.scss
  frontend/src/router/Router.js
  frontend/src/utils/api.js
  frontend/src/utils/dom.js
Labels: frontend

#33 [20220511] Merge 요청
  frontend/public/index.html
  frontend/src/app.js
  frontend/src/components/CustomComponent.js
  frontend/src/components/Dropdown/Dropdown.js
  frontend/src/components/Dropdown/dropdown.scss
  frontend/src/components/LoginModal/LoginModal.js
  frontend/src/components/LoginModal/loginModal.scss
  frontend/src/components/Logo/Logo.js
  frontend/src/components/Logo/logo.scss
  frontend/src/components/Navigation/NavItem.js
  frontend/src/components/Navigation/Navigation.js
  frontend/src/components/Navigation/navigation.scss
  frontend/src/components/Profile/Button.js
  frontend/src/components/Profile/Form.js
  frontend/src/components/Profile/Selector.js
  frontend/src/components/Profile/Stack.js
  frontend/src/index.js
  frontend/src/pages/ProfilePage/ProfilePage.js
  frontend/src/pages/ProfilePage/profilePage.scss
  frontend/src/router/Router.js
  frontend/src/router/utils.js
  frontend/src/utils/api.js
  frontend/src/utils/auth.js
  frontend/src/utils/jsx-runtime.js
  frontend/src/utils/store.js
Labels: frontend

#40 [20220518] Merge 요청
  frontend/src/components/Card/Card.js
  frontend/src/components/Card/card.scss
  frontend/src/components/MainCard/MainCard.js
  frontend/src/components/MainCard/MainCard.scss
  frontend/src/components/RecommendNoResult/RecommendNoResult.js
  frontend/src/components/RecommendNoResult/recommendNoResult.scss
  frontend/src/pages/BookmarkPage/BookmarkPage.js
  frontend/src/pages/MainPage/MainPage.js
  frontend/src/pages/RecommendPage/RecommendPage.js
  frontend/src/pages/RecommendPage/recommendPage.scss
  frontend/src/router/Router.js
Labels: maintenance, frontend

#39 [20220518] Merge 요청
  frontend/src/components/CommentForm/commentForm.scss
  frontend/src/components/Comments/Comments.js
  frontend/src/pages/CreatePostPage/CreatePostPage.js
  frontend/src/pages/CreatePostPage/createPostPage.scss
  frontend/src/pages/DetailPage/DetailPage.js
  frontend/src/router/Router.js
  frontend/src/router/WebRequestController.js
Labels: bug, enhancement, maintenance, frontend

#38 [20220518] Merge 요청
  frontend/.eslintrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dropdown/Dropdown.js
  frontend/src/components/Dropdown/dropdown.scss
  frontend/src/components/Link/Link.js
  frontend/src/components/LoginModal/LoginModal.js
  frontend/src/components/LoginModal/loginModal.scss
  frontend/src/components/Logo/Logo.js
  frontend/src/components/Navigation/NavItem.js
  frontend/src/components/Navigation/Navigation.js
  frontend/src/components/Navigation/navigation.scss
  frontend/src/components/Profile/Form.js
  frontend/src/components/Profile/Selector.js
  frontend/src/components/Profile/SelectorBox.js
  frontend/src/components/Profile/Stack.js
  frontend/src/components/Profile/StackCheckBoxes.js
  frontend/src/components/Profile/form.scss
  frontend/src/library/Profile/index.js
  frontend/src/pages/ProfilePage/ProfilePage.js
  frontend/src/pages/ProfilePage/profilePage.scss
  frontend/src/utils/api.js
  frontend/src/utils/auth.js
  frontend/src/utils/common.js
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: bug, enhancement, frontend

#48 [20220525] Merge 요청
  frontend/src/components/Card/Card.js
  frontend/src/pages/BookmarkPage/BookmarkPage.js
  frontend/src/pages/RecommendPage/RecommendPage.js
Labels: bug, frontend

#47 [20220525] Merge 요청
  frontend/src/components/Profile/Form.js
  frontend/src/components/Profile/SelectorBox.js
  frontend/src/components/Profile/StackCheckBoxes.js
  frontend/src/components/Profile/form.scss
  frontend/src/pages/ProfilePage/ProfilePage.js
  frontend/src/utils/jsx-runtime.js
  frontend/webpack.prod.js
Labels: frontend

#46 [20220525] Merge 요청
  frontend/src/components/MainFilterBar/MainFilter.scss
  frontend/src/components/MainFilterBar/MainFilterBar.js
  frontend/src/components/SearchNoResult/searchNoResult.scss
  frontend/src/pages/MainPage/MainPage.js
  frontend/src/pages/MainPage/mainPage.scss
  frontend/src/store/observe.js
  frontend/src/utils/filter.js
Labels: bug, maintenance, frontend
